[run]
branch = True
include =
	isogeo2office.py
	modules/export/*
	modules/utils/*
omit =
	tests/*
	*tests.py

[report]
exclude_lines =
    if self.debug:
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
ignore_errors = True
omit =
	tests/*
