[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
black = "==19.3b0"
flake8 = "*"
pyqt5-tools = {version = "==5.12.1.1.5rc4",sys_platform = "== 'win32'"}
pip = "*"
pyinstaller = "==3.4.*"
pylint = "*"
pypiwin32 = "*"
pytest= "*"
pytest-cov="*"
pytest-qt="*"
setuptools = "*"
sip = "*"
wheel = "*"

[packages]
arrow = "*"
docxtpl = "*"
isogeo-pysdk = "==2.21.*"
openpyxl = "==2.6.*"
progressbar2 = "*"
"pyqt5" = "==5.12.1"
python-dotenv = "*"
qdarkstyle = "*"
semver = "*"

[requires]
python_version = "3.6"
