[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
black = "==19.3b0"
codecov = "*"
pyqt5-tools = {version ~="5.11",sys_platform = "== 'win32'"}
pip = "*"
pyinstaller = "==3.4.*"
pylint = "*"
pytest= "*"
pytest-cov="*"
setuptools = "*"
sip = "*"
wheel = "*"

[packages]
arrow = "*"
docxtpl = "*"
isogeo-pysdk = ">=2.20.1"
lxml = "*"
openpyxl = "*"
progressbar2 = "*"
"pyqt5" = "*"
python-dotenv = "*"
pytz = "*"
requests = "*"
qdarkstyle = "*"
semver = "*"

[requires]
python_version = "3.6"
