# Common requirements
# -----------------------
# This file collects all required third-party applications that are needed
# to run this project. Later you can install all these apps in a row
# using pip. Example:
#
#     pip install -r requirements_dev.txt
#
#   It's higly recomended to use it within a virtualenv.
#

# install basic requirements
-r requirements.txt

# art of code
black
flake8
pylint

# tests
codecov
coverage
pytest==5.0.*
pytest-cov
pytest-qt

# PyQt
pypiwin32
pyqt5-tools==5.13.* ; sys_platform == 'win32'
sip

# packaging
# PyInstaller==4.0.dev0+46286a1f4
# -e git+https://github.com/pyinstaller/pyinstaller.git@8196c57ab37e94ea5735479d04a5fd2169e638d8#egg=pyinstaller
#pyinstaller==3.5.*
PyInstaller==4.0.dev0+gebf2e5e5


# doc
sphinx
