# Common requirements
# -----------------------
# This file collects all required third-party applications that are needed
# to run this project. Later you can install all these apps in a row
# using pip. Example:
#
#     pip install -r REQUIREMENTS.txt
#

# before install python dependencies, you need some libraries installed on your os:
# unix: python-setuptools, python-pip, python-dev, python-tk, python-software-properties
# windows: Microsoft Visual C++ Compiler Package for Python 2.7 (VCForPython27)

# via pypi
docxtpl
pyttk
pytz
requests
six
xlwt
