# Common requirements
# -----------------------
# This file collects all required third-party applications that are needed
# to run this project. Later you can install all these apps in a row
# using pip. Example:
#
#     pip install -r requirements_dev.txt
#
#   It's higly recomended to use it within a virtualenv.
#

# code art
black
codecov==2.*
coverage==4.5.*
pylint==2.1.*
pypiwin32
pyqt5-tools==5.12.1.1.5rc4 ; sys_platform == 'win32'
pytest
pytest-cov
sip

# packaging
pyinstaller==3.4.*
