# Common requirements
# -----------------------
# This file collects all required third-party applications that are needed
# to run this project. Later you can install all these apps in a row
# using pip. Example:
#
#     pip install -r requirements.txt
#
#   It's higly recomended to use it within a virtualenv.
#

# basics
setuptools
wheel

# utils
arrow==0.12.*
future==0.16.* ; python_version < '3.0'
progressbar2==3.38.*

# isogeo to office
docxtpl==0.5.*
isogeo-pysdk==2.20.*
openpyxl==2.5.*
PyQt5==5.11.*
QDarkStyle==2.5.*
semver
